<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>this is my first ejparths file</h1>



</body>
</html> -->


<!-- doing it with partials -->

<%- include('/express js/4 templating ejs and static files/partials/header.ejs') %>


    <h1 >this is my first ejparths file</h1>


<%- include('/express js/4 templating ejs and static files/partials/footer.ejs') %>

