<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Add new comment</h1>

    <form action="/comment" method="POST">
        <label for="newusername">name</label>
        <input type="text" name="newusername">
        <label for="newcomment">comment</label>
        <input type="text" name="newcomment">
        <button type="submit">Add</button>
    </form>
    
</body>
</html>